#span1 {
  background-color: #00FFFF;
}

.span2 {
  background-color: #FF00FF;
}

#first_paragraph {
  background-image: linear-gradient(to bottom, #FF0000, #FFFFFF);
}

#second_paragraph {
  background-image: radial-gradient(#FFFFFF, #0000FF);
}
#third_paragraph {
  background-color: hsla(0, 0%, 0%, 0.5);
  color: hsla(120, 100%, 50%, 1.0);
}

.awesome {
  background-color: #FF0000;
}

#wrapper {
  width: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
  background-image: url(../images/Carina_Nebula.jpg);
  background-color: #000000;
  margin-top: 100px;  
  /*
  box-shadow: horizontalOffset verticalOffset blurRadius(optional) spreadDistance(optional) colorValue
  */
  box-shadow: 30px 30px 10px #555555;
}

header {
  background-image: url(../images/planet2.jpg);
  background-repeat: no-repeat;
  background-position: 0px 31px;
  background-size: 860px 150px;
  border: 10px dashed #fff;
  padding: 20px;
  margin: 20px;
  background-origin: content-box;
}

#homeImg {
  width: 75%;
  height: 75%;
}

body {
background-image: -webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0, #648F67),
	color-stop(0.58, #DEE821),
	color-stop(1, #DC36EB)
);
background-image: -o-linear-gradient(right, #648F67 0%, #DEE821 58%, #DC36EB 100%);
background-image: -moz-linear-gradient(right, #648F67 0%, #DEE821 58%, #DC36EB 100%);
background-image: -webkit-linear-gradient(right, #648F67 0%, #DEE821 58%, #DC36EB 100%);
background-image: -ms-linear-gradient(right, #648F67 0%, #DEE821 58%, #DC36EB 100%);
background-image: linear-gradient(to right, #648F67 0%, #DEE821 58%, #DC36EB 100%);
}

p {
  margin: 30px;
  font-size: 24px; 
  margin: 20px; 
  padding: 20px; 
  color: rgba(255, 255, 255, 1); 
  background-color: rgba(255, 255, 0, 0.4);
  font-family: 'Risque', cursive;  
  text-align: center;
  box-shadow: 15px 15px 15px #000;
  text-shadow: 5px 5px 5px #000;
}

ul {
  list-style: none;
}

ul li {
  text-decoration: none;
}

nav li {
  display: inline-block; 
  font-size: 24px;
  width: 75px;
  text-align: center;
}

.nav3 {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -410px;
  
}

.nav3 ul {
  text-align: center;
} 

.nav3 ul li {
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    border: 1px solid #000;
    box-shadow: 5px 5px #000;
    width: 200px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.nav3 ul li a:link {
  color: #33E8ff;
  text-decoration: underline;
}

.nav3 ul li a:visited {
  color: #fff;
}

.nav3 ul li a:focus {
  background-color: #ff0;
}

.nav3 ul li a:hover {
  color: #00f;
  text-decoration: none;
  text-shadow: 5px 5px #000;
  border-radius: 5px;
  background-color: hsla(0, 0%, 0%, 0);
}

.nav3 ul li a:active {
  background-color: #f00;
  font-size: 45px;
}



a:hover {
  background-color: #AAAAAA;
  border-radius: 19px;
  
}

a:visited {
  color: #FF0000;
}

a {
  text-decoration: none;
}

a img {
  box-shadow: 15px 15px 15px 3px #000;
}

footer {
  color: #FFFF00;
}

main h2 {
  background-color: #AAAAAA;
}

h1 {
  color: yellow;
  font-family: georgia, Times New Roman, serif;
  font-size: 48px;
  text-align: center;
  border: 1px solid #FFF;
  height: 150px;
  text-shadow: 10px 10px 10px #000;
  /*
  text-shadow: horizontalOffset verticalOffset blurRadius(optional) colorValue;
  */
}

h2 {
  color: #0000FF;
  text-align: center;
  font-family: monospace;
  text-shadow: 5px 5px 5px #000;
  box-shadow: 5px 5px 5px #000;
}

h3 {
  color: #00F;
}

h4 {
  color: rgb(0,0,255);
}

h5 {
  color: hsl(240, 100%, 50%);
}

h6 {
  color: hsla(240, 100%, 50%, 1.0);
}

ol li {
  list-style-image: url('../images/planet5.jpg');
  list-style-position: inside;
  border: 10px dotted salmon;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  text-align: center;
  width: 200px;
  box-shadow: 25px 25px 25px #000;
  text-shadow: 5px 5px 5px #000;
  background-clip: padding-box;
}

ol li span {
  display: block;
}

#box_model img {
  display: block;
  padding: 50px;
  padding-top: 10px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 50px solid orange;
  border-top: 10px solid orange;
  border-radius: 50%;
  border-style: dotted;
}

#box_model h2 {
  padding: 50px;
  padding-left: 25px;
  padding-right: 15px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 50px solid orange;
  border-top: 20px solid blue;
  border-left: 10px solid purple;
  border-radius: 5px;
  border-bottom-right-radius: 50%;
  border-bottom: 5px solid green;
  border-style: dashed double dashed dotted;
  opacity: 0.6;

}

#box_model p {
  padding: 15px;
  margin: 15px;
  border: 15px solid #fff;
  border-radius: 1em;
  background-color: transparent;
  border-style: double;
  box-shadow: inset 25px 25px 25px 10px #000;
}

#box_span1 {
  padding: 5px;
  margin: 5px;
  border: 5px solid #A00;
  border-radius: 5px;
  background-color: red;
  border-style: groove;
}

#box_span2 {
  padding: 10px;
  margin: 13px;
  border: 6px solid #0A0;
  border-radius: 10px;
  box-shadow: inset 10px 10px 10px 3px #050505;
  
}

#box_span3 {
  padding: 20px;
  margin: 30px;
  border: 10px solid #00A;
  border-radius: 20px;
  background-color: blue;
  border-style: ridge;
}

#poster_img {
  display: block;
  width: 402px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 45px 45px 45px 20px #000;
}

#outer_div1 {
  width: 800px;
  height: 600px;
  background-color: #003dce;
  border: 5px dotted #000000;
  padding: 9px;
  margin: 25px;
}

#outer_div2 {
  width: 1000px;
  height: 600px;
  background-color: #003dce;
  border: 5px dotted #000000;
  padding: 9px;
  margin: 25px;
}

#inner_div1 {
  width: 100px;
  height: 100px;
  background-color: #00FF00;
  border: 5px solid #ffffff;
  padding: 9px;
  margin: 10px;
}

#inner_div2 {
  width: 200px;
  height: 100px;
  background-color: #00FF00;
  border: 5px solid #ffffff;
  padding: 9px;
  margin: 10px;
}

#inner_div3 {
  width: 300px;
  height: 100px;
  background-color: #00FF00;
  border: 5px solid #ffffff;
  padding: 9px;
  margin: 10px;
}

#inner_div2_1 {
  width: 10%;
  height: 100px;
  background-color: #000000;
  border: 5px solid #ffffff;
  padding: 9px;
  margin: 10px;
  float: left;
}

#inner_div2_2 {
  width: 80%;
  height: 100px;
  background-color: #00FF00;
  border: 5px solid #ffffff;
  padding: 9px;
  margin: 10px;
  float: left;
  overflow: auto;
}

#inner_div2_3 {
  width: 300px;
  height: 100px;
  background-color: #00FF00;
  border: 5px solid #ffffff;
  padding: 9px;
  margin: 10px;
  float: left;
  clear: left;
}

#inner_div2_4 {
  width: 200px;
  height: 100px;
  background-color: #00FF00;
  border: 5px solid #ffffff;
  padding: 9px;
  margin: 10px;
  float: left;
  clear: left;
}

#inner_div2_5 {
  width: 300px;
  height: 100px;
  background-color: #00FF00;
  border: 5px solid #ffffff;
  padding: 9px;
  margin: 10px;
  float: left;
}

#column_1 {
  float: left;
  width: 250px;
  border: 1px solid #ffffff;
  padding: 5px;
  height: 280px;
  overflow: auto;
}

#column_2 {
  border: 1px solid #ffffff;
  padding: 5px;
  margin-left: 275px;
}

#multi_column_2{
  border: 1px solid #ffffff;
  column-count: 3;
  column-gap: 50px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: lightskyblue;
  
  
}

.outerBox {
  background-color: #00f;
  margin: 45px;
  padding: 45px;
  position: relative;
}

.p1 {
  background-color: #f00;
  padding: 0;
  margin: 0;
}

.p2 {
  background-color: #ff0;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 10px;
  top: 20px;
}

.p3 {
  background-color: #0ff;
  padding: 0;
  margin: 0;  
}

.bg-Carina_Nebula2 {
    width: 100px; 
    height: 119px;

    background-image: url('../images/css_sprites.png');
    background-repeat: no-repeat;
    background-position: -830px -10px;
}

.bg-Cats_Eye {
    width: 800px; 
    height: 800px;
    background: url('../images/css_sprites.png') -10px -10px;
}


.bg-planet2 {
    width: 58px; height: 53px;
    background: url('../images/css_sprites.png') -830px -231px;
}

.bg-planet5 {
    width: 64px; height: 62px;
    background: url('../images/css_sprites.png') -830px -149px;
}

.bg-planet6 {
    width: 54px; height: 53px;
    background: url('../images/css_sprites.png') -830px -304px;
}

.planet5_nav {
  width: 64px;
  height: 62px;
  background: url('../images/css_sprites.png') no-repeat -830px -149px;
  margin-left: 6px;
  
}
  
.planet6_nav {
  width: 58px;
  height: 53px;
  background: url('../images/css_sprites.png') no-repeat -830px -231px;
  margin-left: 9px;
}

.planet2_nav {
  width: 54px;
  height: 53px;
  background: url('../images/css_sprites.png') no-repeat -830px -304px;
  margin-left: 9px;
}

figure {
  margin: 15px auto;
  border: 6px solid white;
  padding: 15px;
  width: 33%;
} 

figure img {
  width: 100%;
  margin: auto;
}

figcaption {
  text-align: center;
  font-size: 18px;
  font-style: oblique;
  border: 1px solid white;
  margin: 0 auto;
  width: 100%;
}  

aside {
  float: right;
  width: 240px;
  background-color: black;
  color: orange;
  border: 3px solid green;
  border-radius: 6px;
}

#flexible_pic img {
  display: block;
  width: 100%;
  margin: auto;
  border: 3px solid green;   
}

table#first_table {
  width: 90%;
  margin: auto;
  text-align: center;
  height: 150px;
  padding: 15px;
  border-spacing: 0.25em;
  border-collapse: collapse;
  background-color: yellowgreen;
  vertical-align: bottom;
  border: 6px magenta dotted;
  border-spacing: 0.5em;
  background-image: url("../images/Carina_Nebula.jpg");
  color: white;
  font-family: arial, helvetica, sans-serif;
}

#first_table td {
  border: 3px solid black;
}

#first_table caption {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 6px;
  color: black;
  text-decoration: underline;
}

#first_table .alt_row {
  background-color: grey;
}

#second_table {
  background-color: green;
  color: white;
  width: 90%;
  margin: auto;
  text-align: center;
}

#second_table tr:nth-of-type(even) {
  background-color: rgb(123, 155, 102);
}

#second_table tr:first-of-type {
  background-color: rgb(17, 110, 41);
}

#second_table th:first-letter {
  font-size: 2.4em;
  font-weight: italic;
  color: rgb(90, 235, 155);
  font-family: Georgia, serif;
}

#second_table caption:first-letter{
  font-size: 2.4em;
  font-weight: italic;
  color: rgb(90, 235, 155);
  font-family: Georgia, serif;
}

#second_table td:first-child{
  font-size: 1.5em;
  font-weight: bold;
}

#second_table tr:last-child{
  font-size: 1.5em;
  font-weight: bold;
  color: greenyellow;
}

#third_table {
  width: 60%;
  margin: auto;
  border: 6px ridge white;
}

#third_table th, td {
  border-style: none;
}

#third_table caption {
  font-size: 2em;
  font-weight: bold;
}

#third_table thead {
  background-color: paleturquoise;
}

#third_table tbody {
  font-family: Arial, sans-serif;
  font-size: .90em;
}

#third_table tbody td {
  border-bottom: 1px #000033 dotted;
  padding-left: 25px;
}

#third_table tfoot {
  background-color: springgreen;
  font-weight: bold;
  text-align: center;
}

textarea {
  resize: none;
}

fieldset {
  display: flex;
  border: 3px solid moccasin;
  width: 500px;
}

fieldset h3 {
  color: rgb(49, 45, 4);
  font-size: 21px;
}

fieldset h4 {
  color: rgb(49, 45, 4);
  font-size: 21px;  
}

fieldset fieldset {
  display: block;
  width: 300px;
}

.form_column_left {
  padding: 24px;
  flex: 50%;
}

.form_column_right {
  padding: 24px;
  flex: 50%;
}

.submit_area {
  width: 50%;
  margin: auto;
}

label {
  font-size: 18px;
  font-family: verdana, Geneva, Tahoma, sans-serif;
}

.rotate_div {
  font-size: 36px;
  height: 150px;
  width: 100%;
  color: white;
  border: 5px solid yellow;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 400ms;
}

.rotate_div:hover {
  transition-property: rotate;
  transform: rotate(30deg);
}

.scale_div {
  font-size: 36px;
  height: 150px;
  width: 100%;
  color: white;
  border: 5px solid yellow;
  transition: all 1000ms ease-in 100ms;
}

.scale_div:hover {
  transform: scale(0.5, 0.25);
  background-color: mediumaquamarine;
}

.scalex_div {
  font-size: 36px;
  height: 150px;
  width: 100%;
  color: white;
  border: 5px solid yellow;
  transition: background-color 5000ms ease-out 100ms,
              transform 1000ms ease-in-out 200ms;
}

.scalex_div:hover {
  transform: scaleX(0.6);
  background-color: orange;
}

.scaley_div {
  font-size: 36px;
  height: 150px;
  width: 100%;
  color: white;
  border: 5px solid yellow;
}

.scaley_div:hover {
  transform: scaleY(0.25);
  transition-duration: 1s;
}

.skewx_div {
  font-size: 36px;
  height: 150px;
  width: 100%;
  color: white;
  border: 5px solid yellow;
}

.skewx_div:hover {
  transform: skewX(30deg);
  transition-duration: 1s;
}

.skewy_div {
  font-size: 36px;
  height: 150px;
  width: 100%;
  color: white;
  border: 5px solid yellow;
}

.skewy_div:hover {
  transform: skewY(60deg);
  transition-duration: 2s;
}

.translate_div {
  font-size: 36px;
  height: 150px;
  width: 100%;
  color: white;
  border: 5px solid yellow;
}

.translate_div:hover {
  transform: translate(30px, 120px);
  transition-duration: 2s;
}

.translatex_div {
  font-size: 36px;
  height: 150px;
  width: 100%;
  color: white;
  border: 5px solid yellow;
}

.translatex_div:hover {
  transform: translateX(60px);
  transition-duration: 2s;
}

.translatey_div {
  font-size: 36px;
  height: 150px;
  width: 100%;
  color: white;
  border: 5px solid yellow;
}

.translatey_div:hover {
  transform: translateY(-60px);
  transition-duration: 2s;
}

.translate_website_div {
  font-size: 36px;
  height: 150px;
  width: 100%;
  color: white;
  border: 5px solid yellow;
}

.translate_website_div:hover {
  transition-duration: 2s;
transform: scale(1.6) scaleZ(1.1) rotateX(33deg) translateX(23px) translateY(-23px) skewX(-49deg);
transform-origin: 11% 16%;
perspective: 1000;-webkit-transform: scale(1.6) scaleZ(1.1) rotateX(33deg) translateX(23px) translateY(-23px) skewX(-49deg);
-webkit-transform-origin: 11% 16%;
-webkit-perspective: 1000;
-webkit-perspective-origin: 43% 43%;
-moz-transform: scale(1.6) scaleZ(1.1) rotateX(33deg) translateX(23px) translateY(-23px) skewX(-49deg);
-moz-transform-origin: 11% 16%;
-moz-perspective: 1000;
-moz-perspective-origin: 43% 43%;
-o-transform: scale(1.6) scaleZ(1.1) rotateX(33deg) translateX(23px) translateY(-23px) skewX(-49deg);
-o-transform-origin: 11% 16%;
-o-perspective: 1000;
-o-perspective-origin: 43% 43%;
-ms-transform: scale(1.6) scaleZ(1.1) rotateX(33deg) translateX(23px) translateY(-23px) skewX(-49deg);
-ms-transform-origin: 11% 16%;
-ms-perspective: 1000;
-ms-perspective-origin: 43% 43%;
transform: scale(1.6) scaleZ(1.1) rotateX(33deg) translateX(23px) translateY(-23px) skewX(-49deg);
transform-origin: 11% 16%;
perspective: 1000;
perspective-origin: 43% 43%;  
  
}



@media only screen and (min-width: 960px) and (max-width: 1260px) {
  
  body {
    background-image: none;
    background-color: aqua;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  
  nav {
   text-align: center; 
  }
  
  body {
    background-image: none;
    background-color: orange;
  }
  
}

@media only screen and (min-width: 370px) and (max-width: 767px) {


  nav {
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  
  body {
    background-image: none;
    background-color: red;
  }
  
}

@media only screen and (max-width: 369px) {

  nav {
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }  
  
  body {
    background-image: none;
    background-color: purple;
  }  

  
}

















